/* customize styles */
.swiper-button-disabled{
    display: none;
}

.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
    background: transparent;
    height: 4px;
}

.swiper-scrollbar-drag {
    background: transparent;
    background-color: #c5c4c4;
}

.swiper-wrapper{
    margin-bottom: 1.2rem;
}

@media (min-width: 640px) {
    .swiper-scrollbar-drag{
        left: 10px;
    }
}

@media (min-width: 1024px)  {
    .swiper-scrollbar{
        display: none;
    }
    .swiper-wrapper{
        margin-bottom: 0;
    }
}

.bottom-menu__item--active{
    background-color: #0ea960;
    width: 2.25rem;
    height: 0.25rem;
    border-radius: 0.5rem;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;

}
.mobile-menu__item--active{
    margin-top: 0.5rem;
}
.mobile-nav-list__link.active--link{
    color: #0ea960 !important;
    border-bottom: 4px solid #0ea960;
    padding-bottom: 0.6rem;
    border-radius: .1rem;
}

.desktop-nav-list__link.active--link{
    color: #0ea960 !important;
}